<%= form_with(model: @post) do |form| %>
  <div class="row">
  <div class="col-2">
    <%= form.label :title, "Name", class: "form-label" %></div>
    <div class="col-6">
    <%= form.text_field :title, class: "form-control" %></div>
  </div>
  
  <div class="row">
  <div class="col-2">
  <%= form.label :body, "Chocolates", class: "form-label" %></div>
  <div class="col-6">
  <%= form.number_field :body, in: 1..100, step: 1, class: "form-control" %></div>
  </div>

  <div class="row">
  <div class="col-2"></div>
  <div class="col-6">
  <%= form.submit "Add Chocolates" %></div></div>
<% end %>